<section class="section-main">
    <div class="coluna-main w-row">
        <div class="cl1 w-col w-col-6">
            <h1 class="texto-main"><span class="text-span-main">Serviços</span> de Markting</h1>
            <p class="paragrafo-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            <div class="div-btn-main">
                <a href="#Section-Contacto" class="btn-main w-button">Aderir serviço agora</a>
            </div>
        </div>
        <div class="cl2 w-col w-col-6"><img src="images/artboard-16.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 87vw, (max-width: 991px) 37vw, (max-width: 1439px) 40vw, 42vw" srcset="images/artboard-16-p-500.png 500w, images/artboard-16-p-800.png 800w, images/artboard-16-p-1080.png 1080w, images/artboard-16-p-1600.png 1600w, images/artboard-16.png 1921w" alt="">
            <div class="div-btn-main-img">
                <a href="#Section-Contacto" class="btn-main w-button">Aderir serviço agora</a>
            </div>
        </div>
    </div>
</section>

<section class="section-service">
    <h1 id="Parg-Markting" class="txt-main-section">Nossos <span class="span-main">Serviços</span> de Markting</h1>
    <div class="paragrafo-main-service">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="service-single">
      <div class="div-block-2b">
        <div class="w-layout-blockcontainer img-container w-container"><img src="images/markting-card.jpg" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/markting-card-p-500.jpg 500w, images/markting-card.jpg 587w" alt=""></div>
        <h1 class="texto-card">Gestão de Mídeas Sociais</h1>
        <p class="paragraffo-card">Com uma equipe especializada e dedicada a moldar sua presença online, 
          oferecemos mais do que simples publicações. Garantimos uma estratégia 
          personalizada, conteúdo envolvente e análises detalhadas para impulsionar 
          sua marca para o topo. Deixe-nos cuidar de todos os detalhes da sua presença 
          nas redes sociais, enquanto você colhe os frutos do aumento do engajamento, 
          reconhecimento da marca e crescimento dos seguidores. Alcance o próximo nível com a nossa Equipe!</p>
        <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
      </div>
      <div class="div-block-2b">
        <div class="w-layout-blockcontainer img-container w-container"><img src="images/markting-card.jpg" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/markting-card-p-500.jpg 500w, images/markting-card.jpg 587w" alt=""></div>
        <h1 class="texto-card">Tráfego Pago</h1>
        <p class="paragraffo-card">Potencialize seu alcance com nossos serviços
           de Tráfego Pago! Desbloqueie um fluxo contínuo de clientes qualificados
            diretamente para o seu negócio. Com estratégias de publicidade
             altamente direcionadas, maximizamos seu retorno sobre investimento. 
             Deixe-nos otimizar suas campanhas, segmentar seu público-alvo e 
             garantir que cada centavo investido gere resultados tangíveis. 
             Cresça, conquiste novos clientes e alcance novos patamares de sucesso para 
             o seu Negócio.</p>
        <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
      </div>
    </div>
    <div class="service-single">
      <div class="div-block-2b">
        <div class="w-layout-blockcontainer img-container w-container"><img src="images/markting-card.jpg" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/markting-card-p-500.jpg 500w, images/markting-card.jpg 587w" alt=""></div>
        <h1 class="texto-card">Otimização de Sites SEO</h1>
        <p class="paragraffo-card">Desperte para o potencial máximo do seu site! 
          Com nossos serviços de Otimização e SEO, direcionamos seu negócio para
           o topo dos resultados de busca. De análises técnicas a estratégias de 
           conteúdo, nossa equipe especializada vai além para garantir que sua 
           presença online seja visível e relevante. Aumente o tráfego, melhore 
           sua classificação nos mecanismos de busca e garanta que seus 
           clientes encontrem você facilmente. Juntos, vamos conquistar mais 
           clientes e alcançar sucesso contínuo para tua página!</p>
        <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
      </div>
      <div class="div-block-2b">
        <div class="w-layout-blockcontainer img-container w-container"><img src="images/markting-card.jpg" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/markting-card-p-500.jpg 500w, images/markting-card.jpg 587w" alt=""></div>
        <h1 class="texto-card">Digital Presence</h1>
        <p class="paragraffo-card">Faça sua marca brilhar no mundo digital! Nosso
           serviço de Digital Presence é a chave para elevar sua presença online 
           a um novo patamar. Com estratégias personalizadas, gerenciamento de 
           reputação e uma abordagem multifacetada, garantimos que sua marca se 
           destaque em meio à concorrência. Do design de sites ao envolvimento 
           nas redes sociais e à gestão de conteúdo, cuidamos de cada aspecto 
           para posicionar sua marca como uma referência no universo digital.</p>
        <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
      </div>
    </div>
</section>

<section class="section-testemony">
    <h1 id="Parg-Markting" class="txt-main-section">Nossos <span class="span-main">Clientes</span> Dizem</h1>
    <div class="texto-testemony">
      <blockquote class="block-quote-3">Descobri uma verdadeira revolução para o meu negócio ao aderir
        aos serviços de <strong>Tráfego Pago</strong> oferecidos por esta equipe de especialistas
         em Markting. Meu alcance cresceu exponencialmente e adquiri fiéis clientes. O impacto imediato
          nos meus resultados financeiros foi surpreendente. Não hesite em investir neste serviço, 
          é a chave para impulsionar seu sucesso e alcançar novos horizontes no mundo digital.
      </blockquote>
      <h2 class="parag-clientes">Casimiro Labuta de Almeida - Phd <a href="#" class="w-inline-block"><img src="images/facebook-f.svg" loading="lazy" width="25" height="25" class="ball-fb" alt="testemony-fb"></a></h2>
    </div>
</section>

<section class="section-service-precos">
    <h1 id="Parg-Markting" class="txt-main-section">Confira os <span class="span-main">Preços </span>de<span class="span-main"> Markting</span></h1>
    <div class="w-layout-blockcontainer w-container">
        <div class="div-preco-two">
            <div class="div-preco preco3">
                <h1 class="texto-preco3">Plano + Base</h1>
                <h1 class="preco-destaque destaque3">5.000 Kz</h1>
                <div class="text-temp temp3">Por Mês</div>
                <div class="element-preco">1. Publicidades Singulares</div>
                <div class="element-preco">2. Publicidades Singulares</div>
                <div class="element-preco">3. Publicidades</div>
                <a href="#" class="btn-card-preco3 w-button">aderir serviço</a>
            </div>
            <div class="div-preco preco2">
                <h1 class="texto-preco2">Plano Premium</h1>
                <h1 class="preco-destaque">5.000 Kz</h1>
                <div class="text-temp">Por Mês</div>
                <div class="element-preco">1. Publicidades Singulares</div>
                <div class="element-preco">2. Alta qualidade de Vídeo</div>
                <div class="element-preco">3. Resolução 4K + HDR</div>
                <a href="#" class="btn-card-preco2 w-button">aderir serviço</a>
            </div>
            <div class="div-preco preco1">
                <h1 class="texto-preco">Plano + Básico</h1>
                <h1 class="preco-destaque destaque1">5.000 Kz</h1>
                <div class="text-temp temp1">Por Mês</div>
                <div class="element-preco">1. Publicidades Singulares</div>
                <div class="element-preco">2. Publicidades Singulares</div>
                <div class="element-preco">3. Publicidades </div>
                <a href="#" class="btn-card-preco w-button">aderir serviço</a>
            </div>
        </div>
    </div>
</section>

<app-numeros></app-numeros>

<section id="Section-Contacto" class="section-contacto">
    <div class="div-contacto">
      <h3 class="txt-contacto">Entrar em Contacto</h3>
    </div>
    <div class="text-block-19">Por favor, preencha com os seus dados e entraremos em contacto brevemente</div>
    <div class="div-main-form">
      <div class="w-form">
        <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" method="get" class="formulario-contacto" data-wf-page-id="652cf99e6bb740b2dbd8a080" data-wf-element-id="65aaa738-cfde-f40e-561f-6c6c896e438b">
          <div class="form-content">
            <div class="form-element">
              <div class="div-form-single"><label for="nome-2" class="texto-form">Nome <span class="span-obrigatorio">*</span></label><input type="text" class="input w-input" maxlength="256" name="nome-2" data-name="Nome 2" placeholder="Ex.: Meu Nome ou Nome da Empresa" id="nome-2" required=""></div>
              <div class="div-form-single"><label for="Email-2" class="texto-form">Email <span class="span-obrigatorio">*</span></label><input type="text" class="input w-input" maxlength="256" name="Email-2" data-name="Email 2" placeholder="Ex.: meuemail@gmail.com" id="Email-2" required=""></div>
              <div class="div-form-single"><label for="Telefone-2" class="texto-form">Telefone <span class="span-obrigatorio">*</span></label><input type="tel" class="input w-input" maxlength="256" name="Telefone-2" data-name="Telefone 2" placeholder="Ex.: 900 000 000" id="Telefone-2" required=""></div>
            </div>
            <div class="form-element">
              <div class="div-form-single"><label for="TipoRequisicao-3" class="texto-form">Tipo de Requisição<span class="span-obrigatorio">*</span></label><select id="TipoRequisicao-3" name="TipoRequisicao-3" data-name="Tipo Requisicao 3" required="" class="multi-campos w-select">
                  <option value="">Escolher...</option>
                  <option value="Pessoal">Conta Pessoal</option>
                  <option value="Empresarial">Conta Empresarial</option>
                </select></div>
              <div class="div-form-single"><label for="Servico-de-Markting" class="texto-form">Tipo de Serviço<span class="span-obrigatorio">*</span></label><select id="Servico-de-Markting" name="Servico-de-Markting" data-name="Servico de Markting" required="" class="multi-campos w-select">
                  <option value="">Escolher...</option>
                  <option value="Gestao-Mideas">Gestão de Mídeas Sociais</option>
                  <option value="Trafego-Pago">Tráfego Pago</option>
                  <option value="Otimizacao-Sites-SEO">Otimização de Sites SEO</option>
                  <option value="Digital-Presence">Digital Presence</option>
                </select></div>
              <div class="div-form-single"><label for="infoAdicional-2" class="texto-form">Informações Adicionais</label><textarea placeholder=". . ." maxlength="5000" id="infoAdicional-2" name="infoAdicional-2" data-name="Info Adicional 2" class="input-textarea w-input"></textarea></div>
            </div>
          </div><input type="submit" value="enviar" data-wait="Aguarde, Por favor..." class="btn-submit w-button">
        </form>
        <div class="success-message-3 w-form-done">
          <div class="text-block-20">Enviado com Sucesso!</div>
          <div class="text-block-21">
            <a href="markting.component.html" class="link-4">Enviar Novo formulário</a>
          </div>
        </div>
        <div class="w-form-fail">
          <div>Lamentamos! Não foi Possível Enviar.</div>
        </div>
      </div>
    </div>
</section>