<section class="section-menu">
    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <a href="/" aria-current="page" class="brand-2 w-nav-brand w--current"><img src="images/meel.svg" loading="lazy" width="48" alt="" class="image"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div data-hover="true" data-delay="200" class="dropdown w-dropdown">
          <div data-w-id="70a7452a-2b6e-4cce-f064-6a5a2601a03f" class="dropdown-toggle w-dropdown-toggle">
            <div class="icon-3 w-icon-dropdown-toggle"></div>
            <div class="elemento-nav">Produtos <span class="text-span-4">&amp;</span> Serviços</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <div class="div-dropdown">
              <div class="w-layout-blockcontainer container-servico-menu w-container">
                <div class="div-block-3">
                  <a href="services.html" class="dropdown-link-servico w-dropdown-link"><span class="titulo-servico">Assinatura e Streaming</span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Conta Pessoal</span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Conta Empresarial</span></a>
                </div>
                <div class="div-block-3">
                  <a href="development" class="dropdown-link-servico w-dropdown-link"><span class="titulo-servico">Desenvolvimento</span></a>
                  <a href="#" class="dropdown-link-list one w-dropdown-link"><span class="paragrafo-servico">Desenvolvimento:<br>Web, Desktop e Mobile </span></a>
                  <a href="#" class="dropdown-link-list two w-dropdown-link"><span class="paragrafo-servico">Desenvolvimento — Web, Desktop e Mobile </span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Loja E-Commerce</span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Sistema de Gestão</span></a>
                </div>
              </div>
              <div class="w-layout-blockcontainer container-servico-menu w-container">
                <div class="div-block-3">
                  <a href="markting" class="dropdown-link-servico w-dropdown-link"><span class="titulo-servico">Marketing Digital</span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Gestão de Mídias Sociais</span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Tráfego Pago - Meta, Google e Tiktok</span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Otimização de Sites SEO</span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Digital Presence</span></a>
                </div>
                <div class="div-block-3">
                  <a href="consultoria" class="dropdown-link-servico w-dropdown-link"><span class="titulo-servico">Consultoria</span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">ERP Primavera</span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">ERP PHC</span></a>
                  <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">ERP SAP</span></a>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <a data-w-id="70a7452a-2b6e-4cce-f064-6a5a2601a08a" href="#" class="elemento-nav w-nav-link">sobre nós</a>
        <a href="contact" class="elemento-nav w-nav-link">Contactos</a>
        <a href="{{wa_message}}" class="button w-button">Entrar <strong>/</strong> Criar</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon-6 w-icon-nav-menu"></div>
      </div>
    </div>
  </section>