  <section class="section-main">
    <div class="w-row">
      <div class="cl1 w-col w-col-6">
        <h1 class="texto-main">Conheça a<br><span class="text-span-main">Meel Angola</span></h1>
        <p class="paragrafo-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae.</p>
      </div>
      <div class="cl2 w-col w-col-6"><img src="images/NovaImgHome.png" loading="lazy" sizes="(max-width: 479px) 92vw, (max-width: 767px) 87vw, (max-width: 1439px) 40vw, 42vw" srcset="images/NovaImgHome-p-500.png 500w, images/NovaImgHome-p-800.png 800w, images/NovaImgHome-p-1080.png 1080w, images/NovaImgHome.png 1150w" alt=""></div>
    </div>
  </section>
  
  <app-numeros></app-numeros>
  
  <section class="section-historia">
    <h1 class="txt-main-section">Nossa <span class="span-main">História</span></h1>
    <div class="div-descricao">
      <h2 class="txt-descricao">Quem Somos?</h2>
      <p class="paragrafo-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
      <div class="div-redes-social">
        <div class="w-layout-blockcontainer redes-sociais-sobre w-container">
          <div class="div-block-social">
            <a href="#" class="w-inline-block"><img src="images/twitter.svg" loading="lazy" width="20" alt=""></a>
          </div>
          <div class="div-block-social">
            <a href="#" class="w-inline-block"><img src="images/facebook-f.svg" loading="lazy" width="13" alt=""></a>
          </div>
          <div class="div-block-social">
            <a href="#" class="w-inline-block"><img src="images/linkedin.svg" loading="lazy" width="20" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="div-descricao">
      <h2 class="txt-descricao">Os Nossos Objectivos</h2>
      <p class="paragrafo-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
      <div class="lista-objectivos">
        <ul role="list" class="list">
          <li class="list-item">
            <div>This is some text inside of a div block.</div>
          </li>
          <li class="list-item">
            <div>This is some text inside of a div block.</div>
          </li>
          <li class="list-item">
            <div>This is some text inside of a div block.</div>
          </li>
        </ul>
      </div>
      <a href="contacto.html" class="btn-main-contacto-sobre w-button">Entrar em Contacto</a>
    </div>
    <div class="div-descricao">
      <h2 class="txt-descricao">Nosso Público Alvo</h2>
      <p class="paragrafo-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
    </div>
    <div class="div-descricao">
      <h2 class="txt-descricao">Os Nossos Serviços</h2>
      <p class="paragrafo-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
      <div class="columns-6 w-row">
        <div class="coluna-contacto w-col w-col-6">
          <div class="servic-four-one"><img src="images/artboard-20.png" loading="lazy" sizes="(max-width: 479px) 40vw, (max-width: 767px) 41vw, (max-width: 1439px) 20vw, 21vw" srcset="images/artboard-20-p-500.png 500w, images/artboard-20-p-800.png 800w, images/artboard-20-p-1080.png 1080w, images/artboard-20.png 1243w" alt="">
            <h2 class="h1-four">Assinaturas e Streaming</h2>
            <p class="paragraph-12">Lorem ipsum dolor sit amet, ctetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            <a href="services.html" class="btn-card-four w-button">visitar serviço</a>
          </div>
          <div class="servic-four-one"><img src="images/artboard-16.png" loading="lazy" sizes="(max-width: 479px) 40vw, (max-width: 767px) 41vw, (max-width: 1439px) 20vw, 21vw" srcset="images/artboard-16-p-500.png 500w, images/artboard-16-p-800.png 800w, images/artboard-16-p-1080.png 1080w, images/artboard-16-p-1600.png 1600w, images/artboard-16.png 1921w" alt="">
            <h2 class="h1-four">Serviços de Markting Digital</h2>
            <p class="paragraph-12">Lorem ipsum dolor sit amet, ctetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            <a href="markting.html" class="btn-card-four w-button">visitar serviço</a>
          </div>
        </div>
        <div class="coluna-contacto w-col w-col-6">
          <div class="servic-four-one"><img src="images/artboard-17.png" loading="lazy" sizes="(max-width: 479px) 40vw, (max-width: 767px) 41vw, (max-width: 1439px) 20vw, 21vw" srcset="images/artboard-17-p-500.png 500w, images/artboard-17-p-800.png 800w, images/artboard-17-p-1080.png 1080w, images/artboard-17-p-1600.png 1600w, images/artboard-17.png 1923w" alt="">
            <h2 class="h1-four">Serviços de Desenvolvimento</h2>
            <p class="paragraph-12">Lorem ipsum dolor sit amet, ctetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            <a href="servicos-de-desenvolvimento.html" class="btn-card-four w-button">visitar serviço</a>
          </div>
          <div class="servic-four-one"><img src="images/artboard-19.png" loading="lazy" sizes="(max-width: 479px) 40vw, (max-width: 767px) 41vw, (max-width: 1439px) 20vw, 21vw" srcset="images/artboard-19-p-500.png 500w, images/artboard-19-p-800.png 800w, images/artboard-19-p-1080.png 1080w, images/artboard-19-p-1600.png 1600w, images/artboard-19.png 1923w" alt="">
            <h2 class="h1-four">Serviços de Consultoria</h2>
            <p class="paragraph-12">Lorem ipsum dolor sit amet, ctetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            <a href="consultoria.html" class="btn-card-four w-button">visitar serviço</a>
          </div>
        </div>
      </div>
    </div>
    <div class="div-descricao">
      <h2 class="txt-descricao">Nosso Endereço</h2>
      <p class="paragrafo-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
      <div class="visita">Venha fazer-nos uma visita!!!</div>
    </div>
  </section>
  <h1 class="txt-main-section">Conheça Nossa <span class="span-main">Equipe</span></h1>
  <section class="gallery-slider">
    <div class="container-14">
      <div class="gallery-wrapper">
        <div id="w-node-f1000fa7-612b-a404-2271-955e9c42ed01-9c42ecfe" class="team-card tc_one"><img src="images/IMG_9892.jpg" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 122.72570037841797px, (max-width: 991px) 16vw, (max-width: 1439px) 120.00000762939453px, 158.05555725097656px" srcset="images/IMG_9892-p-500.jpg 500w, images/IMG_9892-p-800.jpg 800w, images/IMG_9892.jpg 1016w" alt="" class="card-image">
          <blockquote class="block-quote-2">A solução pode estar mais perto do que pensamos, portanto, não há problema que não se resolva.</blockquote>
          <div class="team-member-name-2">Jerameel Gonga</div>
          <div class="text-block">CEO</div>
        </div>
        <div data-delay="4000" data-animation="slide" class="gallery-slide w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" id="w-node-f1000fa7-612b-a404-2271-955e9c42ed09-9c42ecfe">
          <div class="w-slider-mask">
            <div class="gallery-slide-wrapper w-slide">
              <div class="team-card center"><img src="images/AdaltonCalombe.jpg" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 190.00001525878906px, (max-width: 991px) 25vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/AdaltonCalombe-p-500.jpg 500w, images/AdaltonCalombe-p-800.jpg 800w, images/AdaltonCalombe-p-1080.jpg 1080w, images/AdaltonCalombe.jpg 1536w" alt="" class="card-image">
                <blockquote class="block-quote-2">Somos uma equipe comprometida com nossos clientes.</blockquote>
                <div class="team-member-name-2">Adalton Calombe</div>
                <div class="text-block-2">Gerente de Contas</div>
              </div>
            </div>
            <div class="gallery-slide-wrapper w-slide">
              <div class="team-card"><img src="images/Domingos.png" loading="lazy" alt="" class="card-image">
                <blockquote class="block-quote-2">Investimento em Tecnologia deInformação e Comunicação gera evolução dos negócios.</blockquote>
                <div class="team-member-name-2">Domingos Adriano</div>
                <div class="text-block-3">Responsável de Desenvolvimento</div>
              </div>
            </div>
            <div class="gallery-slide-wrapper w-slide">
              <div class="team-card"><img src="images/IMG_8841.JPG" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 190.00001525878906px, (max-width: 991px) 25vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/IMG_8841-p-500.jpg 500w, images/IMG_8841-p-800.jpg 800w, images/IMG_8841.JPG 973w" alt="" class="card-image">
                <blockquote class="block-quote-2">Montamos uma equipe altamente qualificada para criar soluções aos nossos clientes.</blockquote>
                <div class="team-member-name-2">Ana Armando Calombe</div>
                <div class="text-block-5"><strong>Sales General Manager</strong></div>
              </div>
            </div>
            <div class="gallery-slide-wrapper w-slide">
              <div class="team-card"><img src="images/Meel-Posts-2.jpg" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 190.00001525878906px, (max-width: 991px) 25vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/Meel-Posts-2-p-500.jpg 500w, images/Meel-Posts-2.jpg 706w" alt="" class="card-image">
                <blockquote class="block-quote-2">A gestão de processos é indispensável para otimização de resultados.</blockquote>
                <div class="team-member-name-2">Victorino Buta</div>
                <div class="text-block-4"><strong>CFO</strong></div>
              </div>
            </div>
          </div>
          <div class="gallery-slider-left w-slider-arrow-left">
            <div class="arrow-wrapper"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a0e4912aadb_Chevron%20right-1.svg" loading="lazy" alt="" class="slider-arrow-embed"></div>
          </div>
          <div class="gallery-slider-right w-slider-arrow-right">
            <div class="arrow-wrapper"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a7ce212aacc_Chevron%20right.svg" loading="lazy" alt="" class="slider-arrow-embed"></div>
          </div>
          <div class="gallery-slide-nav w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
 </section>
