<section class="section-numeros">
    <h1 class="txt-main-section">Números <span class="span-main">Surpreendentes</span></h1>
    <div>
      <div class="div-numeros">
        <div class="div-two-numero">
          <div class="div-single-numero">
            <h2 class="heading-32">+1,5k</h2>
            <div class="text-block-18">Usuários Mensais</div>
          </div>
          <div class="div-single-numero">
            <h2 class="heading-32">+12</h2>
            <div class="text-block-18">Serviços Desponínveis</div>
          </div>
        </div>
        <div class="div-two-numero">
          <div class="div-single-numero">
            <h2 class="heading-32">24/7</h2>
            <div class="text-block-18">Atendimento</div>
          </div>
          <div class="div-single-numero">
            <h2 class="heading-32">100%</h2>
            <div class="text-block-18">Pagamento Seguro</div>
          </div>
        </div>
      </div>
    </div>
  </section>
