<section class="section-menu">
  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <a href="index.html" aria-current="page" class="brand-2 w-nav-brand w--current"><img src="images/meel.svg" loading="lazy" width="48" alt="" class="image"></a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div data-hover="true" data-delay="200" class="dropdown w-dropdown">
        <div data-w-id="70a7452a-2b6e-4cce-f064-6a5a2601a03f" class="dropdown-toggle w-dropdown-toggle">
          <div class="icon-3 w-icon-dropdown-toggle"></div>
          <div class="elemento-nav">Produtos <span class="text-span-4">&amp;</span> serviços</div>
        </div>
        <nav class="dropdown-list w-dropdown-list">
          <div class="div-dropdown">
            <div class="w-layout-blockcontainer container-servico-menu w-container">
              <div class="div-block-3">
                <a href="services.html" class="dropdown-link-servico w-dropdown-link"><span class="titulo-servico">Assinatura e Streaming</span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Conta Pessoal</span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Conta Empresarial</span></a>
              </div>
              <div class="div-block-3">
                <a href="servicos-de-desenvolvimento.html" class="dropdown-link-servico w-dropdown-link"><span class="titulo-servico">Desenvolvimento</span></a>
                <a href="#" class="dropdown-link-list one w-dropdown-link"><span class="paragrafo-servico">Desenvolvimento:<br>Web, Desktop e Mobile </span></a>
                <a href="#" class="dropdown-link-list two w-dropdown-link"><span class="paragrafo-servico">Desenvolvimento — Web, Desktop e Mobile </span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Loja E-Commerce</span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Sistema de Gestão</span></a>
              </div>
            </div>
            <div class="w-layout-blockcontainer container-servico-menu w-container">
              <div class="div-block-3">
                <a href="markting.html" class="dropdown-link-servico w-dropdown-link"><span class="titulo-servico">Marketing Digital</span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Gestão de Mídias Sociais</span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Tráfego Pago - Meta, Google e Tiktok</span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Otimização de Sites SEO</span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">Digital Presence</span></a>
              </div>
              <div class="div-block-3">
                <a href="consultoria.html" class="dropdown-link-servico w-dropdown-link"><span class="titulo-servico">Consultoria</span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">ERP Primavera</span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">ERP PHC</span></a>
                <a href="#" class="dropdown-link-list w-dropdown-link"><span class="paragrafo-servico">ERP SAP</span></a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <a data-w-id="70a7452a-2b6e-4cce-f064-6a5a2601a08a" href="#" class="elemento-nav w-nav-link">sobre nós</a>
      <a href="contacto.html" class="elemento-nav w-nav-link">Contactos</a>
      <a href="login.html" class="button w-button">Entrar /<strong> </strong>Criar Conta</a>
    </nav>
    <div class="menu-button w-nav-button">
      <div class="icon-6 w-icon-nav-menu"></div>
    </div>
  </div>
</section>
<section class="section-principal">
  <div class="columns-2 w-row">
    <div class="column w-col w-col-6">
      <h1 class="heading"><span class="text-span-main">Serviços</span> Digitais para <strong>Empresas e Clientes Individuais </strong>em Kwanza</h1>
      <p class="paragraph">Fornecemos soluções de <strong>Assinatura e Streaming, Desenvolvimento e Marketing</strong> de nível internacional para atender às necessidades dos nossos clientes, entregando soluções viáveis e escaláveis.</p>
      <div class="div-block-one">
        <a href="novo-registro.html" class="button-one btn w-button"> Criar  Conta </a>
        <a href="servicos-de-desenvolvimento.html" class="button-two w-button">contratar serviço</a>
      </div>
    </div>
    <div class="column-2 w-col w-col-6"><img src="images/NovaImgHome.png" loading="lazy" width="500" sizes="(max-width: 479px) 85vw, (max-width: 767px) 83vw, (max-width: 991px) 42vw, (max-width: 1439px) 40vw, 500.0000305175781px" alt="" srcset="images/NovaImgHome-p-500.png 500w, images/NovaImgHome-p-800.png 800w, images/NovaImgHome-p-1080.png 1080w, images/NovaImgHome.png 1150w" class="image-2"></div>
  </div>
</section>
<section class="section-service">
  <h1 class="txt-main-section">Conheça nossos <span class="title-span">serviços</span></h1>
  <div class="service-single">
    <div class="div-block-2b">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/artboard-20.png" loading="lazy" width="353" sizes="(max-width: 479px) 84vw, (max-width: 767px) 61vw, (max-width: 991px) 36vw, (max-width: 1439px) 29vw, 352.9861145019531px" alt="" srcset="images/artboard-20-p-500.png 500w, images/artboard-20-p-800.png 800w, images/artboard-20-p-1080.png 1080w, images/artboard-20.png 1243w" class="card-images"></div>
      <h1 class="texto-card">Assinaturas e Streaming</h1>
      <p class="paragrafo-card">Transforme seu tempo livre em experiências incríveis com nosso serviço de assinaturas de streaming! Explore conteúdo de alta qualidade e entretenimento sem limites com a Meel.</p>
      <a href="services.html" class="btn-card w-button">Criar conta / Entrar</a>
    </div>
    <div class="div-block-2b-copy">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/artboard-16.png" loading="lazy" width="355" sizes="(max-width: 479px) 79vw, (max-width: 767px) 57vw, (max-width: 991px) 36vw, (max-width: 1439px) 29vw, 355.0000305175781px" alt="" srcset="images/artboard-16-p-500.png 500w, images/artboard-16-p-800.png 800w, images/artboard-16-p-1080.png 1080w, images/artboard-16-p-1600.png 1600w, images/artboard-16.png 1921w" class="card-images"></div>
      <h1 class="texto-card">Marketing Digital</h1>
      <p class="paragrafo-card">Alavanque seu negócio e alcance o sucesso com nossa expertise em Marketing Digital. Potencialize sua presença online e conquiste seu público-alvo. Nós cuidamos do complicado.</p>
      <a href="markting.html" class="btn-card w-button">visitar serviço</a>
    </div>
  </div>
  <div class="service-single">
    <div class="div-block-2b">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/artboard-17.png" loading="lazy" width="355" sizes="(max-width: 479px) 84vw, (max-width: 767px) 61vw, (max-width: 991px) 36vw, (max-width: 1439px) 29vw, 355.0000305175781px" alt="" srcset="images/artboard-17-p-500.png 500w, images/artboard-17-p-800.png 800w, images/artboard-17-p-1080.png 1080w, images/artboard-17-p-1600.png 1600w, images/artboard-17.png 1923w"></div>
      <h1 class="texto-card">Desenvolvimento</h1>
      <p class="paragrafo-card">Transformamos suas ideias em realidade através de nosso serviço de desenvolvimento. Criamos soluções inovadoras para impulsionar seu negócio</p>
      <a href="servicos-de-desenvolvimento.html" class="btn-card w-button">visitar serviço</a>
    </div>
    <div class="div-block-2b-copy">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/artboard-19.png" loading="lazy" width="355" sizes="(max-width: 479px) 79vw, (max-width: 767px) 57vw, (max-width: 991px) 36vw, (max-width: 1439px) 29vw, 355.0000305175781px" alt="" srcset="images/artboard-19-p-500.png 500w, images/artboard-19-p-800.png 800w, images/artboard-19-p-1080.png 1080w, images/artboard-19-p-1600.png 1600w, images/artboard-19.png 1923w"></div>
      <h1 class="texto-card">Consultoria Especializada</h1>
      <p class="paragrafo-card">Maximize seu potencial e supere desafios com nossa consultoria especializada e uma equipe altamente qualificada. Soluções empresariais sob medida para o sucesso do seu negócio.</p>
      <a href="consultoria.html" class="btn-card w-button">visitar serviço</a>
    </div>
  </div>
</section>
<section class="section-numeros">
  <h1 class="txt-main-section">Números <span class="span-main">Surpreendentes</span></h1>
  <div>
    <div class="div-numeros">
      <div class="div-two-numero">
        <div class="div-single-numero">
          <h2 class="heading-32">+1,5k</h2>
          <div class="text-block-18">Usuários Mensais</div>
        </div>
        <div class="div-single-numero">
          <h2 class="heading-32">+12</h2>
          <div class="text-block-18">Serviços Desponínveis</div>
        </div>
      </div>
      <div class="div-two-numero">
        <div class="div-single-numero">
          <h2 class="heading-32">24/7</h2>
          <div class="text-block-18">Atendimento</div>
        </div>
        <div class="div-single-numero">
          <h2 class="heading-32">100%</h2>
          <div class="text-block-18">Pagamento Seguro</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <h1 class="txt-main-section">Conheça <span class="span-main">nossa Equipe</span></h1>
</section>
<section class="gallery-slider">
  <div class="container-14">
    <div class="gallery-wrapper">
      <div id="w-node-_3c516cf9-05e2-d297-0425-5ec2c4b21a6c-79aee2b6" class="team-card tc_one"><img src="images/IMG_9892.jpg" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 26vw, (max-width: 991px) 16vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/IMG_9892-p-500.jpg 500w, images/IMG_9892-p-800.jpg 800w, images/IMG_9892.jpg 1016w" alt="" class="card-image">
        <blockquote class="block-quote-2">A solução pode estar mais perto do que pensamos, portanto, não há problema que não se resolva.</blockquote>
        <div class="team-member-name-2">Jerameel Gonga</div>
        <div class="text-block">CEO</div>
      </div>
      <div data-delay="4000" data-animation="slide" class="gallery-slide w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" id="w-node-_60c7baae-62a3-31fc-5b82-c4c86fcfa451-79aee2b6">
        <div class="w-slider-mask">
          <div class="gallery-slide-wrapper w-slide">
            <div class="team-card center"><img src="images/AdaltonCalombe.jpg" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 190.00001525878906px, (max-width: 991px) 25vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/AdaltonCalombe-p-500.jpg 500w, images/AdaltonCalombe-p-800.jpg 800w, images/AdaltonCalombe-p-1080.jpg 1080w, images/AdaltonCalombe.jpg 1536w" alt="" class="card-image">
              <blockquote class="block-quote-2">Somos uma equipe comprometida com nossos clientes.</blockquote>
              <div class="team-member-name-2">Adalton Calombe</div>
              <div class="text-block-2">Gerente de Contas</div>
            </div>
          </div>
          <div class="gallery-slide-wrapper w-slide">
            <div class="team-card"><img src="images/Domingos.png" loading="lazy" alt="" class="card-image">
              <blockquote class="block-quote-2">Investimento em Tecnologia gera evolução dos negócios.</blockquote>
              <div class="team-member-name-2">Domingos Adriano</div>
              <div class="text-block-3">Responsável de Desenvolvimento</div>
            </div>
          </div>
          <div class="gallery-slide-wrapper w-slide">
            <div class="team-card"><img src="images/IMG_8841.JPG" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 190.00001525878906px, (max-width: 991px) 25vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/IMG_8841-p-500.jpg 500w, images/IMG_8841-p-800.jpg 800w, images/IMG_8841.JPG 973w" alt="" class="card-image">
              <blockquote class="block-quote-2">Montamos uma equipe altamente qualificada para criar soluções aos nossos clientes.</blockquote>
              <div class="team-member-name-2">Ana Armando Calombe</div>
              <div class="text-block-5"><strong>Sales General Manager</strong></div>
            </div>
          </div>
          <div class="gallery-slide-wrapper w-slide">
            <div class="team-card"><img src="images/Meel-Posts-2.jpg" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 190.00001525878906px, (max-width: 991px) 25vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/Meel-Posts-2-p-500.jpg 500w, images/Meel-Posts-2.jpg 706w" alt="" class="card-image">
              <blockquote class="block-quote-2">A gestão de processos é indispensável para otimização de resultados.</blockquote>
              <div class="team-member-name-2">Victorino Buta</div>
              <div class="text-block-4"><strong>CFO</strong></div>
            </div>
          </div>
        </div>
        <div class="gallery-slider-left w-slider-arrow-left">
          <div class="arrow-wrapper"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a0e4912aadb_Chevron%20right-1.svg" loading="lazy" alt="" class="slider-arrow-embed"></div>
        </div>
        <div class="gallery-slider-right w-slider-arrow-right">
          <div class="arrow-wrapper"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a7ce212aacc_Chevron%20right.svg" loading="lazy" alt="" class="slider-arrow-embed"></div>
        </div>
        <div class="gallery-slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
</section>
<section class="section-footer">
  <div class="footer">
    <div class="div-block-footer1">
      <a href="#" class="w-inline-block"><img src="images/meel.logo.svg" loading="lazy" width="104" alt="" class="image-3"></a>
    </div>
    <div class="div-block-footer2">
      <div class="columns w-row">
        <div class="column-4 w-col w-col-4">
          <h3 class="heading-15">Meel Angola</h3>
          <h4 class="heading-17">
            <a href="#" class="link-2">Preços</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Como Funciona</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Tutoriais</a>
          </h4>
        </div>
        <div class="column-5 w-col w-col-4">
          <h3 class="heading-15">Recursos</h3>
          <h4 class="heading-17">
            <a href="#" class="link-2">Download</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Manuais</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Blog</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Ver Tudo</a>
          </h4>
        </div>
        <div class="column-3 w-col w-col-4">
          <h3 class="heading-15">Sobre Nós</h3>
          <h4 class="heading-17">
            <a href="#" class="link-2">Termos<span class="text-span-5"> e</span> Condiçãoes</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Políticas <span class="text-span-6">de</span> Privacidade</a>
          </h4>
          <div class="w-layout-blockcontainer redes-sociais w-container">
            <div class="div-block-2">
              <a href="#" class="w-inline-block"><img src="images/twitter.svg" loading="lazy" width="20" alt=""></a>
            </div>
            <div class="div-block-fb">
              <a href="#" class="w-inline-block"><img src="images/facebook-f.svg" loading="lazy" width="13" alt=""></a>
            </div>
            <div class="div-block-lk">
              <a href="#" class="w-inline-block"><img src="images/linkedin.svg" loading="lazy" width="20" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="heading-18">Copyright © 2023 Todos os direitos reservados. <br><strong>TECMEEL - PRESTAÇAO DE SERVIÇOS, LDA</strong></h3>
</section>