<section class="section-footer">
  <div class="footer">
    <div class="div-block-footer1">
      <a href="#" class="w-inline-block"><img src="images/meel.logo.svg" loading="lazy" width="104" alt="" class="image-3"></a>
    </div>
    <div class="div-block-footer2">
      <div class="columns w-row">
        <div class="column-4 w-col w-col-4">
          <h3 class="heading-15">Meel Angola</h3>
          <h4 class="heading-17">
            <a href="#" class="link-2">Preços</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Como Funciona</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Tutoriais</a>
          </h4>
        </div>
        <div class="column-5 w-col w-col-4">
          <h3 class="heading-15">Recursos</h3>
          <h4 class="heading-17">
            <a href="#" class="link-2">Download</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Manuais</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Blog</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Ver Tudo</a>
          </h4>
        </div>
        <div class="column-3 w-col w-col-4">
          <h3 class="heading-15">Sobre Nós</h3>
          <h4 class="heading-17">
            <a href="#" class="link-2">Termos<span class="text-span-5"> e</span> Condiçãoes</a>
          </h4>
          <h4 class="heading-17">
            <a href="#" class="link-2">Políticas <span class="text-span-6">de</span> Privacidade</a>
          </h4>
          <div class="w-layout-blockcontainer redes-sociais w-container">
            <div class="div-block-2">
              <a href="#" class="w-inline-block"><img src="images/twitter.svg" loading="lazy" width="20" alt=""></a>
            </div>
            <div class="div-block-fb">
              <a href="#" class="w-inline-block"><img src="images/facebook-f.svg" loading="lazy" width="13" alt=""></a>
            </div>
            <div class="div-block-lk">
              <a href="#" class="w-inline-block"><img src="images/linkedin.svg" loading="lazy" width="20" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="heading-18">Copyright © 2023 Todos os direitos reservados. <br><strong>TECMEEL - PRESTAÇAO DE SERVIÇOS, LDA</strong></h3>
</section>