<section class="section-principal">
  <div class="columns-2 w-row">
    <div class="column w-col w-col-6">
      <h1 class="heading"><span class="text-span-main">Serviços Digitais</span> para <strong>Empresas e Clientes Individuais </strong>em Kwanza</h1>
      <p class="paragraph">Fornecemos soluções de <strong>Assinatura e Streaming, Desenvolvimento e Marketing</strong> de nível internacional para atender às necessidades dos nossos clientes, entregando soluções viáveis e escaláveis.</p>
      <div class="div-block-one">
        <a href="https://assinaturas.meelangola.com" class="button-one btn w-button"> Criar  Conta </a>
        <a routerLink="contact" class="button-two w-button">contratar serviço</a>
      </div>
    </div>
    <div class="column-2 w-col w-col-6"><img src="images/NovaImgHome.png" loading="lazy" width="500" sizes="(max-width: 479px) 85vw, (max-width: 767px) 83vw, (max-width: 991px) 42vw, (max-width: 1439px) 40vw, 500.0000305175781px" alt="" srcset="images/NovaImgHome-p-500.png 500w, images/NovaImgHome-p-800.png 800w, images/NovaImgHome-p-1080.png 1080w, images/NovaImgHome.png 1150w" class="image-2"></div>
  </div>
</section>
<section class="section-service">
  <h1 class="txt-main-section">Conheça nossos <span class="title-span">serviços</span></h1>
  <div class="service-single">
    <div class="div-block-2b">
      <div class="w-layout-blockcontainer img-container w-czontainer"><img src="images/artboard-20.png" loading="lazy" width="353" sizes="(max-width: 479px) 84vw, (max-width: 767px) 61vw, (max-width: 991px) 36vw, (max-width: 1439px) 29vw, 352.9861145019531px" alt="" srcset="images/artboard-20-p-500.png 500w, images/artboard-20-p-800.png 800w, images/artboard-20-p-1080.png 1080w, images/artboard-20.png 1243w" class="card-images"></div>
      <h1 class="texto-card">Assinaturas e Streaming</h1>
      <p class="paragrafo-card">Transforme seu tempo livre em experiências incríveis com nosso serviço de assinaturas de streaming! Explore conteúdo de alta qualidade e entretenimento sem limites com a Meel.</p>
      <a href="https://assinaturas.meelangola.com"   class="btn-card w-button">Criar conta / Entrar</a>
    </div>
    <div class="div-block-2b-copy">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/artboard-16.png" loading="lazy" width="355" sizes="(max-width: 479px) 79vw, (max-width: 767px) 57vw, (max-width: 991px) 36vw, (max-width: 1439px) 29vw, 355.0000305175781px" alt="" srcset="images/artboard-16-p-500.png 500w, images/artboard-16-p-800.png 800w, images/artboard-16-p-1080.png 1080w, images/artboard-16-p-1600.png 1600w, images/artboard-16.png 1921w" class="card-images"></div>
      <h1 class="texto-card">Marketing Digital</h1>
      <p class="paragrafo-card">Alavanque seu negócio e alcance o sucesso com nossa expertise em Marketing Digital. Potencialize sua presença online e conquiste seu público-alvo. Nós cuidamos do complicado.</p>
      <a routerLink="contact" class="btn-card w-button">visitar serviço</a>
    </div>
  </div>
  <div class="service-single">
    <div class="div-block-2b">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/artboard-17.png" loading="lazy" width="355" sizes="(max-width: 479px) 84vw, (max-width: 767px) 61vw, (max-width: 991px) 36vw, (max-width: 1439px) 29vw, 355.0000305175781px" alt="" srcset="images/artboard-17-p-500.png 500w, images/artboard-17-p-800.png 800w, images/artboard-17-p-1080.png 1080w, images/artboard-17-p-1600.png 1600w, images/artboard-17.png 1923w"></div>
      <h1 class="texto-card">Desenvolvimento</h1>
      <p class="paragrafo-card">Transformamos suas ideias em realidade através de nosso serviço de desenvolvimento. Criamos soluções inovadoras para impulsionar seu negócio</p>
      <a routerLink="contact" class="btn-card w-button">visitar serviço</a>
    </div>
    <div class="div-block-2b-copy">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/artboard-19.png" loading="lazy" width="355" sizes="(max-width: 479px) 79vw, (max-width: 767px) 57vw, (max-width: 991px) 36vw, (max-width: 1439px) 29vw, 355.0000305175781px" alt="" srcset="images/artboard-19-p-500.png 500w, images/artboard-19-p-800.png 800w, images/artboard-19-p-1080.png 1080w, images/artboard-19-p-1600.png 1600w, images/artboard-19.png 1923w"></div>
      <h1 class="texto-card">Consultoria Especializada</h1>
      <p class="paragrafo-card">Maximize seu potencial e supere desafios com nossa consultoria especializada e uma equipe altamente qualificada. Soluções empresariais sob medida para o sucesso do seu negócio.</p>
      <a href="consultoria.html" class="btn-card w-button">visitar serviço</a>
    </div>
  </div>
</section>
<section class="section-numeros">
  <h1 class="txt-main-section">Números <span class="span-main">Surpreendentes</span></h1>
  <div>
    <div class="div-numeros">
      <div class="div-two-numero">
        <div class="div-single-numero">
          <h2 class="heading-32">+1,5k</h2>
          <div class="text-block-18">Usuários Mensais</div>
        </div>
        <div class="div-single-numero">
          <h2 class="heading-32">+12</h2>
          <div class="text-block-18">Serviços Desponínveis</div>
        </div>
      </div>
      <div class="div-two-numero">
        <div class="div-single-numero">
          <h2 class="heading-32">24/7</h2>
          <div class="text-block-18">Atendimento</div>
        </div>
        <div class="div-single-numero">
          <h2 class="heading-32">100%</h2>
          <div class="text-block-18">Pagamento Seguro</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <h1 class="txt-main-section">Conheça <span class="span-main">nossa Equipe</span></h1>
</section>
<section class="gallery-slider">
  <div class="container-14">
    <div class="gallery-wrapper">
      <div id="w-node-_3c516cf9-05e2-d297-0425-5ec2c4b21a6c-79aee2b6" class="team-card tc_one"><img src="images/IMG_9892.jpg" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 26vw, (max-width: 991px) 16vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/IMG_9892-p-500.jpg 500w, images/IMG_9892-p-800.jpg 800w, images/IMG_9892.jpg 1016w" alt="" class="card-image">
        <blockquote class="block-quote-2">A solução pode estar mais perto do que pensamos, portanto, não há problema que não se resolva.</blockquote>
        <div class="team-member-name-2">Jerameel Gonga</div>
        <div class="text-block">CEO</div>
      </div>
      <div data-delay="4000" data-animation="slide" class="gallery-slide w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" id="w-node-_60c7baae-62a3-31fc-5b82-c4c86fcfa451-79aee2b6">
        <div class="w-slider-mask">
          <div class="gallery-slide-wrapper w-slide">
            <div class="team-card center"><img src="images/AdaltonCalombe.jpg" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 190.00001525878906px, (max-width: 991px) 25vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/AdaltonCalombe-p-500.jpg 500w, images/AdaltonCalombe-p-800.jpg 800w, images/AdaltonCalombe-p-1080.jpg 1080w, images/AdaltonCalombe.jpg 1536w" alt="" class="card-image">
              <blockquote class="block-quote-2">Somos uma equipe comprometida com nossos clientes.</blockquote>
              <div class="team-member-name-2">Adalton Calombe</div>
              <div class="text-block-2">Gerente de Contas</div>
            </div>
          </div>
          <div class="gallery-slide-wrapper w-slide">
            <div class="team-card"><img src="images/Domingos.png" loading="lazy" alt="" class="card-image">
              <blockquote class="block-quote-2">Investimento em Tecnologia gera evolução dos negócios.</blockquote>
              <div class="team-member-name-2">Domingos Adriano</div>
              <div class="text-block-3">Responsável de Desenvolvimento</div>
            </div>
          </div>
          <div class="gallery-slide-wrapper w-slide">
            <div class="team-card"><img src="images/IMG_8841.JPG" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 190.00001525878906px, (max-width: 991px) 25vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/IMG_8841-p-500.jpg 500w, images/IMG_8841-p-800.jpg 800w, images/IMG_8841.JPG 973w" alt="" class="card-image">
              <blockquote class="block-quote-2">Montamos uma equipe altamente qualificada para criar soluções aos nossos clientes.</blockquote>
              <div class="team-member-name-2">Ana Armando Calombe</div>
              <div class="text-block-5"><strong>Sales General Manager</strong></div>
            </div>
          </div>
          <div class="gallery-slide-wrapper w-slide">
            <div class="team-card"><img src="images/Meel-Posts-2.jpg" loading="lazy" sizes="(max-width: 479px) 130px, (max-width: 767px) 190.00001525878906px, (max-width: 991px) 25vw, (max-width: 1439px) 120.00000762939453px, 160px" srcset="images/Meel-Posts-2-p-500.jpg 500w, images/Meel-Posts-2.jpg 706w" alt="" class="card-image">
              <blockquote class="block-quote-2">A gestão de processos é indispensável para otimização de resultados.</blockquote>
              <div class="team-member-name-2">Victorino Buta</div>
              <div class="text-block-4"><strong>CFO</strong></div>
            </div>
          </div>
        </div>
        <div class="gallery-slider-left w-slider-arrow-left">
          <div class="arrow-wrapper"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a0e4912aadb_Chevron%20right-1.svg" loading="lazy" alt="" class="slider-arrow-embed"></div>
        </div>
        <div class="gallery-slider-right w-slider-arrow-right">
          <div class="arrow-wrapper"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a7ce212aacc_Chevron%20right.svg" loading="lazy" alt="" class="slider-arrow-embed"></div>
        </div>
        <div class="gallery-slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
</section>