<section class="section-main">
    <div class="coluna-main w-row">
      <div class="cl1 w-col w-col-6">
        <h1 class="texto-main"><span class="text-span-main">Serviços </span>de Desenvolvimento</h1>
        <p class="paragrafo-main">Encontre aqui os melhores <strong>Serviços de Desenvolvimento</strong>. Fornecemos soluções de alto nível para atender às necessidades de Clientes Individuais e Empresas, elevando sua capacidade de alcançar sucesso</p>
        <div class="div-btn-main">
          <a href="#Section-Contacto" class="btn-main w-button">solicitar serviço agora</a>
        </div>
      </div>
      <div class="cl2 w-col w-col-6"><img src="images/artboard-17.png" loading="lazy" width="561" sizes="(max-width: 479px) 92vw, (max-width: 767px) 81vw, (max-width: 991px) 37vw, (max-width: 1439px) 39vw, 560.9896240234375px" alt="" srcset="images/artboard-17-p-500.png 500w, images/artboard-17-p-800.png 800w, images/artboard-17-p-1080.png 1080w, images/artboard-17-p-1600.png 1600w, images/artboard-17.png 1923w" class="image-8">
        <div class="div-btn-main-img">
          <a href="#Section-Contacto" class="btn-main w-button">solicitar serviço agora</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-service">
    <h1 id="parag-desenvolvimento" class="txt-main-section"><span class="span-main">Serviços</span> de Desenvolvimento</h1>
    <p class="paragrafo-main-service">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="service-single">
      <div class="div-block-2b">
        <div class="w-layout-blockcontainer img-container w-container"><img src="images/DevWeb.png" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/DevWeb-p-500.png 500w, images/DevWeb.png 540w" alt=""></div>
        <h1 class="texto-card">Desenvolvimento Desktop</h1>
        <p class="paragrafo-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
      </div>
      <div class="div-block-2b">
        <div class="w-layout-blockcontainer img-container w-container"><img src="images/DevMobile.png" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/DevMobile-p-500.png 500w, images/DevMobile.png 540w" alt=""></div>
        <h1 class="texto-card">Sistemas de Gestão</h1>
        <p class="paragrafo-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
      </div>
    </div>
    <div class="service-single">
      <div class="div-block-2b">
        <div class="w-layout-blockcontainer img-container w-container"><img src="images/DevWeb.png" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/DevWeb-p-500.png 500w, images/DevWeb.png 540w" alt=""></div>
        <h1 class="texto-card">Desenvolvimento Web</h1>
        <p class="paragrafo-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
      </div>
      <div class="div-block-2b">
        <div class="w-layout-blockcontainer img-container w-container"><img src="images/DevMobile.png" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/DevMobile-p-500.png 500w, images/DevMobile.png 540w" alt=""></div>
        <h1 class="texto-card">Desenvolvimento Mobile</h1>
        <p class="paragrafo-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
      </div>
    </div>
  </section>
  <section class="section-service-precos">
    <h1 id="Parg-Markting" class="txt-main-section">Confira <span class="span-main">Preços </span>de<span class="span-main"> Desenvolvimento</span></h1>
    <div class="w-layout-blockcontainer w-container">
      <div class="div-preco-two">
        <div class="div-preco preco3">
          <h1 class="texto-preco3">Plano + Base</h1>
          <h1 class="preco-destaque destaque3">5.000 Kz</h1>
          <div class="text-temp temp3">Por Mês</div>
          <div class="element-preco">1. Publicidades Singulares</div>
          <div class="element-preco">2. Publicidades Singulares</div>
          <div class="element-preco">3. Publicidades</div>
          <a href="#" class="btn-card-preco3 w-button">aderir serviço</a>
        </div>
        <div class="div-preco preco2">
          <h1 class="texto-preco2">Plano Premium</h1>
          <h1 class="preco-destaque">5.000 Kz</h1>
          <div class="text-temp">Por Mês</div>
          <div class="element-preco">1. Publicidades Singulares</div>
          <div class="element-preco">2. Alta qualidade de Vídeo</div>
          <div class="element-preco">3. Resolução 4K + HDR</div>
          <a href="#" class="btn-card-preco2 w-button">aderir serviço</a>
        </div>
        <div class="div-preco preco1">
          <h1 class="texto-preco">Plano + Básico</h1>
          <h1 class="preco-destaque destaque1">5.000 Kz</h1>
          <div class="text-temp temp1">Por Mês</div>
          <div class="element-preco">1. Publicidades Singulares</div>
          <div class="element-preco">2. Publicidades Singulares</div>
          <div class="element-preco">3. Publicidades </div>
          <a href="#" class="btn-card-preco w-button">aderir serviço</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section-numeros">
    <h1 class="txt-main-section">Números <span class="span-main">Surpreendentes</span></h1>
    <div>
      <div class="div-numeros">
        <div class="div-two-numero">
          <div class="div-single-numero">
            <h2 class="heading-32">+1,5k</h2>
            <div class="text-block-18">Usuários Mensais</div>
          </div>
          <div class="div-single-numero">
            <h2 class="heading-32">+12</h2>
            <div class="text-block-18">Serviços Desponínveis</div>
          </div>
        </div>
        <div class="div-two-numero">
          <div class="div-single-numero">
            <h2 class="heading-32">24/7</h2>
            <div class="text-block-18">Atendimento</div>
          </div>
          <div class="div-single-numero">
            <h2 class="heading-32">100%</h2>
            <div class="text-block-18">Pagamento Seguro</div>
          </div>
        </div>
      </div>
    </div>
  </section>