<section class="section-main">
  <div class="coluna-main w-row">
    <div class="cl1 w-col w-col-6">
      <h1 class="texto-main"><span class="text-span-main">Serviços </span>de Desenvolvimento</h1>
      <p class="paragrafo-main">Encontre aqui os melhores <strong>Serviços de Desenvolvimento</strong>. 
        Fornecemos soluções de alto nível para atender às necessidades de Clientes Individuais e 
        Empresas, elevando sua capacidade de alcançar sucesso.</p>
      <div class="div-btn-main">
        <a href="#Section-Contacto" class="btn-main w-button">solicitar serviço agora</a>
      </div>
    </div>
    <div class="cl2 w-col w-col-6"><img src="images/artboard-17.png" loading="lazy" width="561" sizes="(max-width: 479px) 92vw, (max-width: 767px) 81vw, (max-width: 991px) 37vw, (max-width: 1439px) 39vw, 560.9896240234375px" alt="" srcset="images/artboard-17-p-500.png 500w, images/artboard-17-p-800.png 800w, images/artboard-17-p-1080.png 1080w, images/artboard-17-p-1600.png 1600w, images/artboard-17.png 1923w" class="image-8">
      <div class="div-btn-main-img">
        <a href="#Section-Contacto" class="btn-main w-button">solicitar serviço agora</a>
      </div>
    </div>
  </div>
</section>
<section class="section-service">
  <h1 id="parag-desenvolvimento" class="txt-main-section"><span class="span-main">Serviços</span> de Desenvolvimento</h1>
  <div class="paragrafo-main-service">Transforme suas ideias em realidade! Junte-se a nós para impulsiionar 
    seu negócio com soluções inovadoras e sob medida.</div>
  <div class="service-single">
    <div class="div-block-2b">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/DevWeb.png" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/DevWeb-p-500.png 500w, images/DevWeb.png 540w" alt=""></div>
      <h1 class="texto-card">Desenvolvimento Desktop</h1>
      <p class="paragrafo-card">
        A nossa equipe transformamos suas ideias em software de alta performance. Nosso serviço de <strong>Desenvolvimento Desktop</strong> 
        oferece soluções customizadas e robustas para atender às suas necessidades. Do planejamento à 
        entrega, criamos aplicativos que impulsionam a eficiência e elevam sua produtividade, tornando-a 
        única no mercado.
      </p>
      <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
    </div>
    <div class="div-block-2b">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/DevMobile.png" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/DevMobile-p-500.png 500w, images/DevMobile.png 540w" alt=""></div>
      <h1 class="texto-card">Sistemas de Gestão</h1>
      <p class="paragrafo-card">
        Otimize sua gestão com nossos <strong>Sistemas Especializados</strong>. Oferecemos soluções personalizadas para 
        simplificar processos, aumentar eficiência e impulsionar resultados. Desde sistemas integrados até 
        plataformas robustas. Deixe-nos construir a base sólida que impulsionará o crescimento e a 
        eficiência da sua empresa.
      </p>
      <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
    </div>
  </div>
  <div class="service-single">
    <div class="div-block-2b">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/DevWeb.png" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/DevWeb-p-500.png 500w, images/DevWeb.png 540w" alt=""></div>
      <h1 class="texto-card">Desenvolvimento Web</h1>
      <p class="paragrafo-card">
        Construímos presenças online de sucesso para empresas e indivíduos. Da concepção à implementação, 
        nossa equipe de <strong>Desenvolvimento Web</strong> oferece soluções personalizadas que destacam sua identidade 
        digital. Seja para ampliar sua marca ou impulsionar seus negócios, transformamos
         suas ideias em experiências online excepcionais.
      </p>
      <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
    </div>
    <div class="div-block-2b">
      <div class="w-layout-blockcontainer img-container w-container"><img src="images/DevMobile.png" loading="lazy" sizes="(max-width: 479px) 87vw, (max-width: 767px) 68vw, (max-width: 991px) 35vw, 33vw" srcset="images/DevMobile-p-500.png 500w, images/DevMobile.png 540w" alt=""></div>
      <h1 class="texto-card">Desenvolvimento Mobile</h1>
      <p class="paragrafo-card">
        Conquiste o mundo mobile conosco! Nosso serviço é a chave para levar sua visão ao alcance de todos, 
        em qualquer lugar. Combinando design intuitivo, performance excepcional e experiência do 
        usuário para transformar suas ideias em apps que impressionam e alcançam o sucesso no <strong>mercado Mobile</strong> 
        seja iOS, Android ou ambos.
      </p>
      <a href="#Section-Contacto" class="btn-card w-button">solicitar serviço</a>
    </div>
  </div>
</section>
<section class="section-service-precos">
  <h1 id="Parg-Markting" class="txt-main-section">Confira <span class="span-main">Preços </span>de<span class="span-main"> Desenvolvimento</span></h1>
  <div class="w-layout-blockcontainer w-container">
    <div class="div-preco-two">
      <div class="div-preco preco3">
        <h1 class="texto-preco3">Plano + Base</h1>
        <h1 class="preco-destaque destaque3">5.000 Kz</h1>
        <div class="text-temp temp3">Por Mês</div>
        <div class="element-preco">1. Publicidades Singulares</div>
        <div class="element-preco">2. Publicidades Singulares</div>
        <div class="element-preco">3. Publicidades</div>
        <a href="#" class="btn-card-preco3 w-button">aderir serviço</a>
      </div>
      <div class="div-preco preco2">
        <h1 class="texto-preco2">Plano Premium</h1>
        <h1 class="preco-destaque">5.000 Kz</h1>
        <div class="text-temp">Por Mês</div>
        <div class="element-preco">1. Publicidades Singulares</div>
        <div class="element-preco">2. Alta qualidade de Vídeo</div>
        <div class="element-preco">3. Resolução 4K + HDR</div>
        <a href="#" class="btn-card-preco2 w-button">aderir serviço</a>
      </div>
      <div class="div-preco preco1">
        <h1 class="texto-preco">Plano + Básico</h1>
        <h1 class="preco-destaque destaque1">5.000 Kz</h1>
        <div class="text-temp temp1">Por Mês</div>
        <div class="element-preco">1. Publicidades Singulares</div>
        <div class="element-preco">2. Publicidades Singulares</div>
        <div class="element-preco">3. Publicidades </div>
        <a href="#" class="btn-card-preco w-button">aderir serviço</a>
      </div>
    </div>
  </div>
</section>
  
<app-numeros></app-numeros>
  
<section id="Section-Contacto" class="section-contacto">
  <div class="div-contacto">
    <h3 class="txt-contacto">Entrar em Contacto</h3>
  </div>
  <div class="text-block-19">Por favor, preencha com os seus dados e entraremos em contacto brevemente</div>
  <div class="div-main-form">
    <div class="w-form">
      <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" method="get" class="formulario-contacto" data-wf-page-id="6523b642a811163a0fb8d7cf" data-wf-element-id="e360f586-c58f-78ff-c0c9-e78d726dd706">
        <div class="form-content">
          <div class="form-element">
            <div class="div-form-single"><label for="nome-2" class="texto-form">Nome <span class="span-obrigatorio">*</span></label><input type="text" class="input w-input" maxlength="256" name="nome-2" data-name="Nome 2" placeholder="Ex.: Meu Nome ou Nome da Empresa" id="nome-2" required=""></div>
            <div class="div-form-single"><label for="Email-2" class="texto-form">Email <span class="span-obrigatorio">*</span></label><input type="text" class="input w-input" maxlength="256" name="Email-2" data-name="Email 2" placeholder="Ex.: meuemail@gmail.com" id="Email-2" required=""></div>
            <div class="div-form-single"><label for="Telefone-2" class="texto-form">Telefone <span class="span-obrigatorio">*</span></label><input type="tel" class="input w-input" maxlength="256" name="Telefone-2" data-name="Telefone 2" placeholder="Ex.: 900 000 000" id="Telefone-2" required=""></div>
          </div>
          <div class="form-element">
            <div class="div-form-single"><label for="Tipo-Requisicao-Dev" class="texto-form">Tipo de Requisição<span class="span-obrigatorio">*</span></label><select id="Tipo-Requisicao-Dev" name="Tipo-Requisicao-Dev" data-name="Tipo Requisicao Dev" required="" class="multi-campos w-select">
                <option value="">Escolher...</option>
                <option value="Conta Empresarial">Conta Pessoal</option>
                <option value="Empresarial">Empresarial</option>
              </select></div>
            <div class="div-form-single"><label for="Tipo-Servico-Dev" class="texto-form">Tipo de Serviço<span class="span-obrigatorio">*</span></label><select id="Tipo-Servico-Dev" name="Tipo-Servico-Dev" data-name="Tipo Servico Dev" required="" class="multi-campos w-select">
                <option value="">Escolher...</option>
                <option value="Dev-Web">Desenvolvimento Web</option>
                <option value="Dev-Mobile">Desenvolvimento Mobile</option>
                <option value="Desktop">Desenvolvimento Desktop</option>
                <option value="Sistema-Gestao">Sistema de Gestão</option>
                <option value="E-Commerce">Lojas E-Commerce</option>
              </select></div>
            <div class="div-form-single"><label for="infoAdicional-2" class="texto-form">Informações Adicionais</label><textarea placeholder=". . ." maxlength="5000" id="infoAdicional-2" name="infoAdicional-2" data-name="Info Adicional 2" class="input-textarea w-input"></textarea></div>
          </div>
        </div><input type="submit" value="enviar" data-wait="Aguarde, Por favor..." class="btn-submit w-button">
      </form>
      <div class="success-message-3 w-form-done">
        <div class="text-block-20">Enviado com Sucesso!</div>
        <div class="text-block-21">
          <a href="servicos-de-desenvolvimento.html" aria-current="page" class="link-4 w--current">Enviar Novo formulário</a>
        </div>
      </div>
      <div class="w-form-fail">
        <div>Lamentamos! Não foi Possível Enviar.</div>
      </div>
    </div>
  </div>
</section>